.product-b-product-b {
  width: 305px;
  height: 503px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(247, 245, 247, 1);
  border-style: solid;
  border-width: 1.5399999618530273px;
  border-radius: 18.479999542236328px;
  flex-direction: column;
}
.product-b-product-retangle {
  width: 100%;
  height: 352px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f5f7;
}
.product-b-product-frame {
  gap: 15.399999618530273px;
  top: var(--dl-space-space-twounits);
  right: var(--dl-space-space-fourunits);
  width: 10%;
  height: 10%;
  margin: auto;
  display: flex;
  opacity: 0.7;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-top: 0px;
  padding-left: 00px;
  border-radius: 77px;
  padding-right: 00px;
  padding-bottom: 00px;
  justify-content: center;
  background-color: var(--dl-color-gray-25);
}
.product-b-heart {
  width: 70%;
  height: 70%;
  align-self: center;
}
.product-b-book-image {
  width: 206px;
  height: 308px;
  object-fit: cover;
}
.product-b-product-text {
  width: 90%;
  height: 80px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product-b-line1 {
  flex: 0 0 auto;
  width: 100%;
  height: 30%;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.product-b-text {
  color: var(--dl-color-gray-5001);
  width: 70%;
  height: auto;
  font-size: 18px;
  align-self: flex-start;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-b-price {
  color: var(--dl-color-gray-7001);
  height: auto;
  font-size: 18px;
  align-self: flex-start;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-b-stock {
  color: var(--dl-color-gray-400);
  height: 20%;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-b-star-rating {
  width: 100%;
  height: 50%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
}
.product-b-group94 {
  width: 100%;
  height: 21px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-b-frame10 {
  width: 35%;
  height: 17.036130905151367px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-staricon {
  width: 17.036130905151367px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-starbackground {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-star {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-star01 {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-staricon1 {
  width: 17.036130905151367px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-starbackground1 {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-star02 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-star03 {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-staricon2 {
  width: 17.036130905151367px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-starbackground2 {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-star04 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-star05 {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-staricon3 {
  width: 17.036130905151367px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-starbackground3 {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-star06 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-star07 {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-staricon4 {
  width: 17.036130905151367px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-starbackground4 {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-star08 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 17.036130905151367px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-star09 {
  top: 0.4259032607078552px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.product-b-text2 {
  color: var(--dl-color-gray-400);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20.042505264282227px;
  font-stretch: normal;
  text-decoration: none;
}
.product-b-product-cart {
  width: 100%;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.product-b-frame114 {
  gap: 11px;
  width: 90%;
  height: 36px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-b-add-to-cart {
  height: 36px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.product-b-frame-buttonbase {
  gap: 8px;
  display: flex;
  padding: 8px 14px;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(58, 73, 128, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(58, 73, 128, 1);
}
.product-b-text4 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.product-b-add-shortlist {
  height: 36px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.product-b-frame-buttonbase1 {
  gap: 8px;
  display: flex;
  padding: 8px 14px;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.product-b-text6 {
  color: var(--dl-color-gray-7001);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.product-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.product-page-all-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.product-page-navbar {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: var(--dl-color-default-t29teal);
}
.product-page-text {
  height: 50%;
  align-self: center;
}
.product-page-text01 {
  color: var(--dl-color-gray-black);
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}
.product-page-hero {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.product-page-hero-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-page-hero-phone {
  flex: 0 0 auto;
  width: 306px;
  display: none;
  align-self: center;
  align-items: flex-start;
}
.product-page-hero-back-phone {
  width: 100%;
  object-fit: cover;
}
.product-page-main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.product-page-sidebar {
  width: 200px;
  height: 2059px;
  display: flex;
  align-self: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.product-page-text04 {
  width: 50%;
  height: 50px;
  align-self: flex-start;
}
.product-page-text05 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.product-page-body {
  width: 80%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-page-query {
  gap: 256px;
  width: 955px;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.product-page-result {
  color: rgba(12, 51, 86, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.product-page-sorting {
  gap: 7px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 28px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 1);
}
.product-page-text09 {
  color: rgba(29, 54, 77, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-page-icon {
  width: 14px;
  height: 14px;
}
.product-page-product {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product-page-row-product-1 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.product-page-row-product-2 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.product-page-row-product-3 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.product-page-row-product-4 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.product-page-page {
  flex: 0 0 auto;
  width: 65%;
  height: auto;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
}
.product-page-frame121 {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.product-page-frame126 {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.product-page-text11 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-page-frame119 {
  gap: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-g1);
  background-image: linear-gradient(61deg, rgba(244, 232, 243, 1) 0%, rgba(243, 239, 246, 1) 51%, rgba(238, 224, 249, 1) 100%);
}
.product-page-text13 {
  color: rgba(29, 54, 77, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-page-frame120 {
  gap: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.product-page-text14 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-page-frame1211 {
  gap: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.product-page-text15 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-page-frame122 {
  gap: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.product-page-text16 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-page-frame123 {
  gap: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.product-page-text17 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-page-frame124 {
  gap: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.product-page-text18 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-page-frame127 {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.product-page-text19 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .product-page-query {
    width: 100%;
    flex-wrap: wrap;
  }
  .product-page-product {
    width: 100%;
  }
  .product-page-row-product-1 {
    flex-wrap: wrap;
  }
  .product-page-row-product-2 {
    flex-wrap: wrap;
  }
  .product-page-row-product-3 {
    flex-wrap: wrap;
  }
  .product-page-row-product-4 {
    flex-wrap: wrap;
  }
}
@media(max-width: 767px) {
  .product-page-query {
    height: 57px;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .product-page-result {
    top: var(--dl-space-space-unit);
    left: 0px;
    height: auto;
    margin: auto;
    position: absolute;
  }
  .product-page-sorting {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .product-page-row-product-1 {
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
  .product-page-row-product-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-page-row-product-3 {
    justify-content: center;
  }
  .product-page-row-product-4 {
    justify-content: center;
  }
  .product-page-page {
    width: 70%;
  }
}
@media(max-width: 479px) {
  .product-page-hero {
    display: none;
  }
  .product-page-hero-phone {
    width: 449px;
    height: 357px;
    display: flex;
  }
  .product-page-hero-back-phone {
    height: 100%;
    display: flex;
  }
  .product-page-sidebar {
    width: 100px;
  }
  .product-page-query {
    height: 108px;
  }
  .product-page-sorting {
    top: var(--dl-space-space-threeunits);
    left: 0px;
    width: 38%;
  }
  .product-page-page {
    width: 100%;
  }
}
